/* Cursos */
.cursos-titulo{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 40px;

    & div{
        cursor: pointer;
    }
}

#outros {
    opacity: 0.5;
}
#outros, #imersao{
    transition: 0.3s;
}

.cursos-imagens {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    overflow-x: auto; 
    scroll-behavior: smooth; 

    & div {
        flex-shrink: 0;
        overflow: hidden;
    }

    & img {
        border-radius: 10px;
        height: 350px;
        cursor: pointer;
    }
}

.cursos-imagens::-webkit-scrollbar {
    height: 8px; 
}

.cursos-imagens::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 4px;
}

.navigation{
    display: none;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1; 
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); 
}

.modal-content {
    color: rgb(10, 27, 86);
    background-color: rgba(255,255,255,0.8);
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 958px) {
    .carousel-container {
        position: relative;
        width: 100%;
        max-width: 300px;
        overflow: hidden;
        border-radius: 10px;
    }

    .carousel-track {
        display: flex;
        transition: transform 0.3s ease-in-out;
    }

    .carousel-slide {
        min-width: 100%;
        user-select: none;

        & img {
            width: 100%;
            height: auto;
            display: block;
        }
    }
    .cursos-imagens{    
        overflow-x: hidden; 

        & div{
            /* max-width: 100%; */
        }

        & img{
            height: 500px;
        }
    }

    .navigation {
        display: flex;
        text-align: center;
        justify-content: center;
        position: absolute;
        top: 140vh;
        left: 0;
        right: 0;
        display: flex;
        justify-content: space-between; 
        transform: translateY(-50%); 
        width: 100%;
        padding: 0 6px 0 6px;

        & button {
            background-color: rgba(0, 0, 0, 0.1);
            color: #fff;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            font-size: 16px;
            transition: background-color 0.3s ease;
            width: 60px;
            height: 80px;
            font-size: 30px; 
        }
    }
}
