/* Cursos */
.cursos-titulo{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 40px;

    & div{
        cursor: pointer;
    }
}

#imersao {
    opacity: 0.5;
}
#botaoCurso, #imersao{
    transition: 0.3s;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1; 
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); 
}

.modal-content {
    color: rgb(10, 27, 86);
    background-color: rgba(255,255,255,0.8);
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}



/* cards */
.swiper {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
.swiper .swiper-wrapper{
    margin-bottom: 30px;
}

.swiper .swiper-slide{
    & img{
        width: 350px;
        border-radius: 10px;
        box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
        object-fit: cover;
    }
}



.swiper .swiper-button-prev, .swiper-button-next{
    color: #00afd8 !important; 
    width: 40px !important;
}

.swiper .swiper-pagination-bullet{
    background-color: #888 !important;
}
.swiper .swiper-pagination-bullet-active{
    background-color: #00afd8 !important;
}

@media (max-width: 958px){
    .swiper .swiper-slide{
        justify-content: center;
        & img{
            width: 95%;
        }
    }

    .swiper .swiper-wrapper{
        padding: 0;
    }
}