#titulo-depoimento{
    text-transform: uppercase;
}

.depoimento{
    justify-content: center;
    overflow-x: hidden;
    width: 70%;
    margin: 0 auto;
    position: relative;
}

.video-depoimento{
    display: none;
}

.video-depoimento, .imagem-depoimento {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    z-index: 0;
    object-fit: cover;
    cursor: pointer;
}

.card-depoimento > *:not(video) {
    position: relative;
    z-index: 1;
}

/* Swiper */
.swiper-depoimento{
    position: relative;
}

.card-depoimento{
    background: #243f6d;
    width: 100%;
    height: 600px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    color: white;
    aspect-ratio: 9/16;
}

.depoimento-prev, .depoimento-next{
    color: #00afd8 !important;
}

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled{
    opacity: 1;
}

.swiper-depoimento{
    margin-top: 10px;
}

& .swiper-slide{
    width: 25%;    
}

@media screen and (max-width: 768px) {  
    .depoimento{
        width: 80%;
    }   
}