.estrutura{
    background-color: #00244a;
    padding: 30px;
    color: white;
    margin-bottom: 50px;
}

.swiper-estrutura {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow-x: hidden;
  }
.swiper-estrutura .swiper-wrapper{
    margin-bottom: 30px;
}

.swiper-estrutura .swiper-slide{
    & img{
        width: 100%;
        max-width: 650px;
        border-radius: 10px;
        box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
        object-fit: cover;
        margin: 0 auto;
        box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
    }
}

.estrutura-prev, .estrutura-next{
    color: #00afd8 !important; 
}

.swiper-estrutura .swiper-pagination-bullet{
    background-color: #888 !important;
}
.swiper-estrutura .swiper-pagination-bullet-active{
    background-color: #00afd8 !important;
}

.swiper-button-prev, 
.swiper-button-next {
    position: absolute;
    /* transform: translateX(-100%); */
}

.estrutura-prev, .depoimento-prev {
    left: 10px;
}

.estrutura-next, .depoimento-next {
    right: 10px;
}