/* Landing */
main{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    transition: background-image 0.2s ease, opacity 0.2s ease;
    color: rgb(255, 255, 255);
    height: 100vh;
    min-width: 100%;
    position: relative;
    z-index: 0;
}

.background {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 2;
}

.background-content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    z-index: 0;
    object-fit: cover;
    filter: brightness(0.2);
}

.main{
    filter: brightness(0.8);
}

#div-texto {
    position: relative;
    z-index: 2;
    color: white;
    text-align: center;
    font-size: 2rem;

    & .secundario{
        font-weight: 400;
        font-size: 1rem;
    }
}

.texto{
    padding-bottom: 300px;
    padding-top: 200px;
    font-size: 2.5rem;
    text-transform: uppercase;
    transition: color 1s ease, opacity 1s ease;
    color: white;
    user-select: none;
    z-index: 11;
}

@media (max-width: 958px) {
    body, html{
        overflow-x: hidden;
    }
    .texto {
        font-size: 1.8rem; /* Reduz o tamanho da fonte em telas pequenas */
    }

    main {
        padding: 0px;
    }
    /* #waurlsite{
        display: none;
    } */
} 