.subsessao-pacientemodelo{
    background-color: #1b2e50; 
    color: white;
    /* color: #1b2e50;
    background-color: e5e6e9; */
    /* box-shadow: 1px 1px 1px 1px #dcdbdb; */
    border-radius: 10px;
    padding: 35px;
    text-align: center;
    width: 100%;
    min-height: 225px;
    height: 250px;
    overflow: hidden;
}

.procedimentos{
    display: flex;
    margin: 0 auto;
    background-color: #1b2e50;
    color: white;
    width: 100%;

    & .grid-item{
        width: fit-content;
        background-color: #091426;
    }

    & .grid-item:hover{
        cursor: pointer;
    }

    & .grid-item img{
        min-width: 100%;
        border-radius: 20px;
    }
}

#vantagens{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0;
    align-items: center;
    & img{
        width: 50px;
    }

    & i{
        font-size: 40px;
        margin-bottom: 20px;
        margin-top: 10px;
    }
}

.swiper-modelos{
    position: relative;
    width: 90%;
    overflow: hidden;
    margin: 0 auto;
}

.swiper-slide img{
    width: 100%;
}

@media (max-width: 1098px){
    .pacientemodelo{
        & p{
            width: 95%; 
        }
    }
}

@media (max-width: 958px){
    .pacientemodelo{
        & p{
            width: 85%;
        }
    }

    .subsessao-pacientemodelo{
        text-align: center;
        width: 85%;
        overflow: hidden;
        /* margin-bottom: 20px; */
        margin-right: 0;
    }

    #vantagens{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0px;
        gap: 10px;
    }
}