#titulo-pacientemodelo{
    margin-top: 40px;
    text-transform: uppercase;
}

.pacientemodelo p{
    text-transform: none;
    text-align: center;
    width: 62%;
    margin-bottom: 30px;
}

#vantagens{
    display: flex;
    justify-content: space-around;
    gap: 40px;
    /* overflow: hidden; */
}

#vantagens div{
    text-align: center;
    width: 33%;
    overflow: hidden;
}

#vantagens img{
    width: 50px;

}

#vantagens #nota{
    width: 200px;
    height: 50px;   
    object-fit: cover;
}

#vantages div center{
    overflow: hidden;
}

.pacientemodelo{
    margin-top: 100px;
    margin-bottom: 80px;
}