#quem-somos{
    display: block;
    margin: 20px 0px ;
}

.sessao-quem-somos{
    font-size: larger;
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-bottom: 50px;
    align-items: center;
    overflow: hidden;
}
.sessao-quem-somos div{
    width: 30%;
}

.sessao-quem-somos img{
    border-radius: 10px;
}

.subsessao-quem-somos{
    /* display: flex; */
    /* justify-content: ; */
    width: 50%;
}
.subsessao-quem-somos p{
    font-size: 0.99rem;
}
.subsessao-quem-somos div{
    font-size: 0.8rem;
}

.subsessao-quem-somos div{
    width: 50%;
}

#titulo-quem-somos{
    margin-top: 40px;
    text-transform: uppercase;
}

.sessao-quem-somos img{
    border-radius: 20px;
    width: 450px;
}