#quem-somos{
    display: block;
    margin: 20px 0px ;
}

.sessao-quem-somos{
    font-size: larger;
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-bottom: 50px;
    align-items: center;
    overflow: hidden;

    & div{
        width: 30%;
    }

    & img{
        border-radius: 20px;
        width: 450px;
    }
}

.subsessao-quem-somos{
    /* display: flex; */
    /* justify-content: ; */
    width: 50%;

    & p{
        /* margin-top: -20px; */
        font-size: 0.99rem;
    }

    & div{
        font-size: 0.8rem;
        width: 50%;
    }
}

#titulo-quem-somos{
    margin-top: 20px;
    text-transform: uppercase;
}

@media (max-width: 958px){
    #quem-somos{
        margin: 0 0;
    }

    .sessao-quem-somos{
        display: flex;
        justify-content: center; 
        align-items: center;  
        flex-direction: column;
        overflow: hidden;
        margin-bottom: 0px;
        margin-top: 0px;
        font-size: 0.95rem;

        & img{
            width: 300px;
            margin: 10px 0 -40px 0;
            order: 1;
        }

        & .subsessao-quem-somos {
            order: 2; 
            margin-bottom: 5px;

            & p{
                /* margin-top: -20px; */
                font-size: 0.94rem;
            }
        }

        & div{
            width: 85%;
        }
    }
}